.main {
  //card style here
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
  width: 150px;
  height: 70px;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}